<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<style>
@import
	url('https://fonts.googleapis.com/css2?family=Enriqueta:wght@400;500;600;700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Share+Tech&display=swap')
	;
</style>
<meta charset="UTF-8">
<title>Edit Contact</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">
<link id="dark-theme" rel="stylesheet"
	th:href="@{/css/dark-addEdit.css}">
<link id="light-theme" rel="stylesheet" th:href="@{/css/addEdit.css}">
</head>
<body class="body">
	<!-- navbar -->
	<div class="container-fluid">
		<nav class="navbar  navbar-expand-lg  ">
			<button class="navbar-toggler" type="button"
				data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03"
				aria-controls="navbarTogglerDemo03" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<a class="navbar-brand" href="/contacts">Contact Manager</a>

			<div class="collapse navbar-collapse" id="navbarTogglerDemo03">
				<ul class="navbar-nav ms-auto ">
					<li class="nav-item active"><a class="nav-link"
						href="/contacts">Home <span class="sr-only"></span></a></li>
					<li class="nav-item"><a class="nav-link" href="/add">Add
							Contact</a></li>

				</ul>

				<button id="themeToggle" class="btn btn-custom-toggle ms-2">
					<i id="themeIcon" class="bi bi-moon-fill me-2"></i>
				</button>

			</div>
		</nav>
	</div>
	<!-- form container -->
	<div class="container py-5">
		<div>
			<h2 class="heading text-center">Edit Contact</h2>
			<!-- error message  -->
			<div th:if="${errorMessage}" class="alert alert-danger"
				th:text="${errorMessage}"></div>

			<form th:action="@{/update}" th:object="${contact}" method="post">
				<input type="hidden" th:field="*{id}">
				<div class="form-section">
					<!-- left side personal info -->
					<div>
						<div class="icon-box">
							<i class="bi bi-person-fill"></i>
							<div>
								<div class="section-header">Personal Info</div>
							</div>
						</div>
						<div class="mb-3">
							<label for="inputName4" class="form-label text-center d-block">
								Name </label> <input type="text" th:field="*{name}" id="inputName4"
								class="form-control"
								th:classappend="${#fields.hasErrors('name')} ? 'is-invalid'"
								placeholder="Name">
							<div class="invalid-feedback"
								th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
						</div>
						<div class="mb-3">
							<label for="inputPhone4" class="form-label text-center d-block">
								Phone </label> <input type="text" th:field="*{phone}" id="inputPhone4"
								class="form-control"
								th:classappend="${#fields.hasErrors('phone')} ? 'is-invalid' "
								placeholder="9861044557">
							<div class="invalid-feedback"
								th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></div>
						</div>
					</div>
					<!-- right side contact info  -->
					<div>
						<div class="icon-box">
							<i class="bi bi-envelope-fill"></i>
							<div>
								<div class="section-header">Contact Details</div>
							</div>
						</div>

						<div class="mb-3">
							<label for="inputAddress" class="form-label text-center d-block">
								Address </label> <input th:field="*{address}" id="inputAddress"
								class="form-control" placeholder="Address">
						</div>

						<div class="mb-3">
							<label for="inputEmail" class="form-label text-center d-block">
								Email </label> <input th:field="*{email}" id="inputEmail"
								class="form-control"
								th:classappend="${#fields.hasErrors('email')} ? 'is-invalid' "
								placeholder="name@example.com">
							<div class="invalid-feedback"
								th:if="${#fields.hasErrors('email')}" th:errors="*{email}">
							</div>

						</div>
					</div>
				</div>
				<div class="text-center mt-4">
					<button class="btn btn-custom" type="submit">Save Contact
					</button>
				</div>
			</form>

		</div>
	</div>
	<!-- Bootstrap JS -->
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
	<!-- Bootstrap Icons -->
	<link rel="stylesheet"
		href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

	<!-- js function for theme toggler  -->
	<script>
    const toggleButton = document.getElementById('themeToggle');
    const themeIcon = document.getElementById('themeIcon');
    const lightTheme = document.getElementById('light-theme');
    const darkTheme = document.getElementById('dark-theme');
    
   function applyTheme(theme){
    if(theme === 'dark'){
      lightTheme.disabled = true;
      darkTheme.disabled = false;
      themeIcon.className = "bi bi-sun-fill fs-5 me-2";
     
    } else {
       lightTheme.disabled = false;
       darkTheme.disabled  = true;
       themeIcon.className = "bi bi-moon-stars-fill me-2";
       
    }
    localStorage.setItem('theme', theme);
   }
   const savedTheme = localStorage.getItem('theme') || 'light' ;
   applyTheme(savedTheme);
   
  toggleButton.addEventListener( 'click' , () =>{
  const newTheme = darkTheme.disabled ? 'dark' : 'light' ;
  applyTheme(newTheme);
  } );

  </script>

	<!-- js function to hide theme toggler when resized 
	<script>
    const navbarCollapse = document.getElementById('navbarTogglerDemo03');
    const themeToggle = document.getElementById('themeToggle');
     
     navbarCollapse.addEventListener( 'show.bs.collapse' , () => {
     themeToggle.style.display = 'none';
     });
     
     navbarCollapse.addEventListener( 'hide.bs.collapse' , () => {
     themeToggle.style.display = '';
     });
   </script>
-->
</body>
</html>
